.cartTab {
  width: 400px;
  background-color: #353432;
  color: #eee;
  position: fixed;
  top: 0;
  right: -400px;
  bottom: 0;
  display: grid;
  grid-template-rows: 70px 1fr 70px;
  transition: 0.5s;
}

body.showCart .cartTab {
  right: 0;
}

body.showCart .container {
  transform: translateX(-150px);
}

.cartTab h2 {
  padding: 10px;
  margin: 0;
  font-weight: 300;
}

.cartTab .btn {
  border: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.cartTab .btn button {
  background-color: #e8bc0e;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  cursor: pointer;
}

.cartTab .btn .close {
  background-color: #fffdfd;
}

.cartTab .listCart .item img {
  width: 100%;
  border-radius: 20px;
}

.cartTab .listCart .item {
  padding: 10px;
  display: grid;
  grid-template-columns: 70px 150px 50px 1fr;
  text-align: center;
  align-items: center;
}

.listCart .quantity span {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #eee;
  color: #555;
  border-radius: 50%;
  cursor: pointer;
}

.listCart .quantity span:nth-child(2) {
  background-color: transparent;
  color: #eee;
}

.listCart .item:nth-child(even) {
  background-color: #eee1;
}

.listCart {
  overflow: auto;
}

.listCart::-webkit-scrollbar {
  width: 0;
}
